@charset "UTF-8";

:root {
  --accent-color: #00335B;
  --accent-light-color: #CCDDEB;
  --base-color: #F7F7F7;
  --emphasis-color: #FF2B2B;
  --gray-color: #999999;

  --main-text-size: 16px;
  --md-text-size: 24px;
  --lg-text-size: 32px;
  --xl-text-size: 36px;

  --label-text-size: 20px;

  --normal-font-style: "Ubuntu", sans-serif;
  --emphasis-font-style: "yu-gothic", sans-serif;
}

body {
  background: var(--base-color);
  font-family: 'Noto Serif JP', serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* ========== ↓ global ↓ ========== */

main {
  position: relative;
  top: 80px;
}

.sns-icons {
  display: flex;
  width: 90px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.page-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 65px;
  bottom: 65px;
  width: 75px;
  height: 75px;
  border-radius: 40px;
  background: var(--accent-color);
  box-shadow: #3a3737 0 0 8px;
  cursor: pointer;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
}
.page-top-button.show {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 412px) {
  .page-top-button {
    width: 50px;
    height: 50px;
    right: 25px;
  }
  .page-top-button img {
    width: 35px;
    height: 35px;
  }
}
.page-top-button:hover {
  transform: translate(0, -10px);
}

.offer-link {
  position: fixed;
  display: flex;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 100px;
  color: #fff;
  font-family: var(--normal-font-style);
  box-shadow: #3a3737 0 0 8px;
  border-radius: 50px 0 0 50px;
  background: var(--accent-color);
  z-index: 9999;
}
.offer-link>p {
  margin: 0 0 15px 0;
}
.offer-link div {
  display: flex;
}
.offer-link img {
  width: 20px;
  height: 20px;
  margin: 0 0 0 5px;
}

/* ========== ↓ lang-en ↓ ========== */

body.lang-en .second-view-top-text {
  padding: 38px 0;
}

/* ========== ↓ header ↓ ========== */

header {
  display: flex;
  position: fixed;
  top: 0;
  width: calc(90% - 24px);
  height: 80px;
  padding: 0 84px;
  background: var(--accent-color);
  justify-content: space-between;
  box-shadow: #3a3737 0 0 8px;
  z-index: 100;
}
@media screen and (max-width: 412px) {
  header {
    width: 362px;
    height: 70px;
    padding: 10px 25px;
  }
}

.header-logo {
  display: flex;
  width: 233px;
  height: 60px;
  background: #fff;
  margin: 0 70px 0 0;
  border-radius: 16px;
  align-self: center;
}
@media screen and (max-width: 412px) {
  .header-logo {
    width: 168.42px;
    height: 50px;
    margin: 0;
  }
}
.header-logo-image {
  width: 203px;
  height: 50.6px;
  margin: 0 auto;
  align-self: center;
}
@media screen and (max-width: 412px) {
  .header-logo-image {
    width: 138.42px;
    height: 34.5px;
  }
}
.header-nav-container {
  display: flex;
  align-self: center;
}
@media screen and (max-width: 412px) {
  .header-nav-container {
    display: none;
  }
}
.header-nav {
  display: flex;
  justify-content: center;
}
.header-nav li {
  margin: 0 22px;
}
.header-nav li:nth-of-type(1) {
  margin: 0 22px 0 0;
}
.header-nav li:nth-of-type(6) {
  margin: 0 0 0 22px;
}
.header-nav a {
  padding: 0 0 2.5px 0;
  color:  #fff;
  border-bottom: solid 1px transparent;
  transition: border-color 0.3s ease;
}
.header-nav a:hover {
  border-bottom-color: #fff;
}
@media screen and (max-width: 412px) {
  header .sns-icons {
    display: none;
  }
}
.header-lang-switcher {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 412px) {
  .header-lang-switcher {
    display: none;
  }
}
.header-lang-switcher button {
  font-family: var(--normal-font-style);
  font-weight: bold;
  color: #fff;
}

.header-menu-icon {
  display: none;
}
@media screen and (max-width: 412px) {
  .header-menu-icon {
    display: block;
    width: 34px;
    height: 34px;
    align-self: center;
    cursor: pointer;
  }
}

.header-menu-sp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--accent-color);
}
.header-menu-sp-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 0 25px;
}
.header-logo-sp {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 168.42px;
  height: 50px;
  background: #fff;
  border-radius: 15px;
}
.header-logo-image-sp {
  width: 138.42px;
  height: 34.5px;
}
.header-menu-icon-close {
  cursor: pointer;
}
.header-menu-nav-sp {
  width: 375px;
  margin: 46px auto 34px auto;
  border-bottom: solid 0.5px #fff;
}
.header-menu-nav-sp a {
  display: flex;
  align-items: center;
  height: 65px;
  color: #fff;
  padding: 0 0 0 40px;
  border-top: solid 0.5px #fff;
}

.header-menu-sp-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}
.header-lang-switcher-sp button {
  color: #fff;
  font-family: var(--normal-font-style);
  font-weight: bold;
}

.header-lang-dropdown {
  display: none;
  position: fixed;
  top: 80px;
  right: 50px;
  border-radius: 0 0 5px 5px;
  background: var(--base-color);
  box-shadow: #484646 0 0 4px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}
.header-lang-dropdown.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.hidden {
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
}

.header-lang-dropdown ul {
  padding: 0 10px;
}
.header-lang-dropdown li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}
.header-lang-dropdown li:nth-of-type(1) {
  border-bottom: solid 1px var(--accent-color);
}
.header-lang-dropdown button {
  color: var(--accent-color);
}

/* ========== ↓ footer ↓ ========== */

footer {
  position: relative;
  top: 80px;
  padding: 45px 0 0 0;
  color: #fff;
  height: 420px;
  background: var(--accent-color);
}

.footer-logo {
  display: flex;
  width: 301px;
  height: 89px;
  background: #fff;
  border-radius: 13px;
  align-items: center;
  margin: 0 auto;
}
.footer-logo a {
  margin: 0 auto;
}
.footer-logo-image {
  width: 276.81px;
  height: 69px;
}
.footer-text {
  margin: 0 0 32px 0;
  text-align: center;
}
.footer-text h4 {
  margin: 25px 0 60px 0;
  font-size: 20px;
}
.copylight {
  margin: 10px 0 0 0;
  font-size: 14px;
  text-align: center;
}

/* ========== ↓ Offer Page ↓ ========== */

.offer-firstview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  color: #fff;
  background: url(../images/experience/experience-firstview.png) no-repeat center center;
}
.offer-firstview h1 {
  position: absolute;
  font-size: var(--xl-text-size);
  font-weight: 500;
}
.offer-firstview h1::after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  background: #fff;
  border-radius: 1px;
  height: 2px;
}
.phone-section {
  padding: 66px 0 38px 0;
  background: var(--accent-light-color);
  text-align: center;
}
.phone-section p {
  line-height: 25px;
  font-family: var(--normal-font-style);
}
.phone-section p:nth-of-type(3) {
  margin: 20px 0 0 0;
}
.phone-button {
  display: flex;
  width: 335px;
  margin: 40px auto 15px auto;
  padding: 14px 0;
  border-radius: 31px;
  background: var(--accent-color);
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.phone-button p {
  color: #fff;
  font-size: var(--md-text-size);
  font-family: var(--normal-font-style);
}
.calender-section {
  width: 1000px;
  margin: 90px auto 0 auto;
  font-family: var(--normal-font-style);
}
.calender-section h4 {
  font-size: var(--md-text-size);
  margin: 0 0 10px 0;
}
.calender-section p {
  line-height: 22.5px;
}
.calender-section p:nth-of-type(1), .calender-section p:nth-of-type(3) {
  margin: 0 0 15px 0;
}
.calender-section span {
  color: var(--emphasis-color);
}
.google-calendar {
  width: 920px;
  margin: 20px auto 40px auto;
}
.google-calendar iframe {
  width: 920px;
  height: 400px;
}
.offer-form-section {
  width: 942px;
  margin: 83px auto 0 auto;
  font-family: var(--normal-font-style);
}
.offer-form-section h4 {
  font-size: var(--md-text-size);
  text-align: center;
  margin: 0 0 20px 0;
}
.offer-form {
  padding: 45px 0;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}
.offer-form form {
  width: 600px;
  margin: 0 auto;
}
.offer-form form>div {
  display: flex;
  margin: 35px 0 0 0;
  flex-direction: column;
}
.offer-form label {
  display: inline-block;
  position: relative;
  margin: 0 13px 0 0;
  font-size: var(--label-text-size);
}
.offer-form input {
  border: solid 1px #000;
  border-radius: 4px;
  height: 40px;
}
.offer-form select {
  border: solid 1px #000;
  border-radius: 4px;
  height: 40px;
}
.offer-form-label {
  display: flex;
  margin: 0 0 6px 0;
  align-items: center;
}
.offer-form span {
  content: "必須";
  display: flex;
  width: 40px;
  height: 20px;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: var(--emphasis-font-style);
  background: var(--emphasis-color);
  border-radius: 2px;
}
.offer-form input {
  width: 600px;
}
.offer-form__name-fields input {
  width: 295px;
  box-sizing: border-box;
}
.offer-form__name-fields div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
.offer-form__desired-fields input {
  width: 167px;
}
.offer-form__people-fields select {
  width: 167px;
}
.offer-form__remarks-fields span {
  background: var(--gray-color);
}
.offer-form__remarks-fields textarea {
  height: 200px;
  resize: none;
}
.offer-form p {
  margin: 35px 0 0 0;
}
.offer-form button {
  font-size: var(--label-text-size);
  color: #fff;
  width: 170px;
  height: 55px;
  margin: 0 auto;
  background: var(--accent-color);
  border-radius: 30px;
}
.contact-link-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-light-color);
  height: 322px;
  margin: 113px 0 0 0;
  text-align: center;
}
.contact-link-section a {
  display: flex;
  width: 470px;
  height: 74px;
  margin: 0 auto;
  border-radius: 37px;
  justify-content: center;
  align-items: center;
  background: var(--accent-color);
  font-family: var(--normal-font-style);
  font-size: var(--label-text-size);
  color: #fff;
}

/* ========== ↓ Top Page ↓ ========== */

.top-first-view {
  position: relative;
  width: 100vw;
  height: 820px;
  background: url(../images/top/top-first-view.jpg) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 412px) {
  .top-first-view {
    height: 600px;
  }
}
.top-first-view h1 {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 64px;
  margin: 0 60px 60px 0;
}
@media screen and (max-width: 412px) {
  .top-first-view h1 {
    display: none;
  }
}
.first-view-text-sp {
  display: none;
}
@media screen and (max-width: 412px) {
  .first-view-text-sp {
    display: block;
    padding: 50px 0 0 206px;
    color: #fff;
  }
  .first-view-text-sp h2 {
    width: min-content;
    font-size: 64px;
    font-weight: 600;
  }
  .first-view-text-sp h2:nth-of-type(1) {
    margin: 0 0 0 83px;
  }
}

.second-view {
  color: #fff;
  padding: 150px 0;
}
@media screen and (max-width: 412px) {
  .second-view {
    padding: 75px 0;
  }
}
.second-view-top {
  display: flex;
  margin: 0 0 150px 0;
}
@media screen and (max-width: 412px) {
  .second-view-top {
    flex-direction: column-reverse;
    margin: 0 0 75px 0;
  }
}
.second-view-top-text {
  display: flex;
  width: 50vw;
  flex-direction: column;
  font-size: var(--md-text-size);
  line-height: 60px;
  padding: 128px 0;
  background: var(--accent-color);
  align-self: center;
}
body.lang-en .second-view-top-text {
  padding: 38px 0;
}
@media screen and (max-width: 412px) {
  .second-view-top-text {
    width: 100vw;
    padding: 35px 0;
  }
}
.second-view-top-text p {
  margin: 0 0 0 55px;
}
@media screen and (max-width: 412px) {
  .second-view-top-text p {
    width: 240px;
    text-align: center;
    line-height: 35px;
    margin: 0 auto;
    font-size: var(--main-text-size);
  }
  .second-view-top-text p:nth-of-type(2) {
    margin: 0 auto 30px auto;
  }
}
.second-view-top-image {
  width: 50vw;
  height: 556px;
  background: url(../images/top/second-view-top.png) no-repeat center center;
  z-index: 1;
}
@media screen and (max-width: 412px) {
  .second-view-top-image {
    width: 100vw;
    height: 318px;
  }
}
.second-view-top-image::after {
  content: "";
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 50vw;
  height: 556px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
@media screen and (max-width: 412px) {
  .second-view-top-image::after {
    width: 100vw;
    height: 318px;
  }
}
.second-view-bottom {
  display: flex;
  height: 556px;
}
@media screen and (max-width: 412px) {
  .second-view-bottom {
    flex-direction: column;
  }
}
.second-view-bottom-text {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 556px;
  background: var(--accent-color);
}
@media screen and (max-width: 412px) {
  .second-view-bottom-text  {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 318px;
    width: 100vw;
    height: 504px;
  }
}
.second-view-bottom-text h5 {
  display: inline-block;
  margin: 85px 0 45px 100px;
  border-bottom: solid 1px #fff;
  font-size: var(--xl-text-size);
}
@media screen and (max-width: 412px) {
  .second-view-bottom-text h5 {
    width: 150px;
    margin: 36px auto 20px auto;
    font-size: var(--md-text-size);
  }
}
.second-view-bottom-text p {
  line-height: 24px;
  font-size: var(--main-text-size);
  margin: 0 0 0 100px;
}
@media screen and (max-width: 412px) {
  .second-view-bottom-text p {
    width: 300px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
  }
}
.second-view-bottom-text p:nth-of-type(2) {
  margin: 0 0 45px 100px;
}
@media screen and (max-width: 412px) {
  .second-view-bottom-text p:nth-of-type(2) {
    margin: 0 auto 35px auto;
  }
}
.second-view-bottom-images {
  position: absolute;
  width: 50vw;
  height: 556px;
  background: url(../images/top/second-view-bottom3.png) no-repeat center center;
  z-index: 2;
}
@media screen and (max-width: 412px) {
  .second-view-bottom-images {
    width: 411.8px;
    height: 318px;
  }
}
.second-view-bottom-images img:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 412px) {
  .second-view-bottom-images img:nth-of-type(1) {
    width: 150px;
    height: 150px;
  }
}
.second-view-bottom-images img:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 412px) {
  .second-view-bottom-images img:nth-of-type(2) {
    width: 200px;
    height: 200px;
  }
}
.second-view-bottom-link {
  display: inline-block;
  color: #fff;
  margin: 45px 0 0 100px;
  padding: 10px 30px;
  border: solid 1px #fff;
}
@media screen and (max-width: 412px) {
  .second-view-bottom-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 42px;
    margin: 40px auto 0 auto;
  }
}
.second-view-bottom-link:hover {
  background: #fff;
  color: var(--accent-color);
}

.top-experience-section {
  margin: 114px 0 0 0;
}
@media screen and (max-width: 412px) {
  .top-experience-section {
    margin: 300px 0 0 0;
  }
}
.top-experience-title-container {
  display: flex;
  width: 750px;
  align-items: center;
  margin: 0 auto;
}
.top-experience-title-container h3 {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  color: var(--accent-color);
  font-size: var(--md-text-size);
  font-family: var(--normal-font-style);
  font-weight: bold;
}
.top-experience-title-container span {
  display: inline-block;
  width: 200px;
  height: 7px;
  border-top: solid 1px var(--accent-color);
  border-bottom: solid 1px var(--accent-color);
}
.top-experience-title-container span:nth-of-type(1) {
  margin: 0 0 0 63px;
}
.top-experience-title-container span:nth-of-type(2) {
  margin: 0 63px 0 0;
}
@media screen and (max-width: 412px) {
  .top-experience-title-container h3 {
    width: 200px;
    padding: 20px 0;
    color: var(--accent-color);
    background: none;
    border-radius: 0;
    border-bottom: var(--accent-color) solid 1px;
  }
}
.top-experience-content {
  display: flex;
  padding: 50px 0;
  justify-content: space-around;
  margin: 50px 0 0 0;
  background: var(--accent-light-color);
}
@media screen and (max-width: 412px) {
  .top-experience-content {
    overflow: auto;
  }
}
.top-experience-card {
  border-top: solid 10px #fff;
  border-right: solid 10px #fff;
  border-left: solid 10px #fff;
  border-radius: 12px;
  box-shadow: #484646 0 0 4px;
  transition: all 0.3s ease;
}
.top-experience-card:hover {
  transform: scale(1.03);
}
@media screen and (max-width: 412px) {
  .top-experience-card {
    width: 300px;
    height: 300px;
    margin: 0 11.5px;
  }
}
.top-experience-card button {
  display: flex;
  width: 167px;
  height: 67px;
  align-items: center;
  color: var(--accent-color);
  background: var(--base-color);
}
@media screen and (max-width: 412px) {
  .top-experience-card button {
    width: 135px;
    height: 50px;
    border-radius: 0 0 12px 0;
  }
}
.top-experience-card__sekka-shibori {
  width: 400px;
  height: 400px;
  background: url(../images/top/sekka-shibori.jpg) no-repeat center center;
}
@media screen and (max-width: 412px) {
  .top-experience-card__sekka-shibori {
    width: 300px;
    height: 300px;
  }
}
.top-experience-card__group {
  width: 400px;
  height: 400px;
  background: url(../images/top/group-image.jpg) no-repeat center center;
}
@media screen and (max-width: 412px) {
  .top-experience-card__group {
    width: 300px;
    height: 300px;
  }
}
.top-experience-card__denim {
  width: 400px;
  height: 400px;
  background: url(../images/denim-image.png) no-repeat center center;
}
@media screen and (max-width: 412px) {
  .top-experience-card__denim {
    width: 300px;
    height: 300px;
  }
}
.top-experience-card-title {
  position: relative;
  top: 333px;
  right: 10px;
  display: flex;
  width: 420px;
  height: 67px;
  border-radius: 0 0 12px 12px;
  background: var(--base-color);
}
@media screen and (max-width: 412px) {
  .top-experience-card-title {
    top: 250px;
    width: 320px;
    height: 50px;
  }
  .top-experience-card-title img {
    width: 30px;
    height: 30px;
  }
}
.top-experience-card-title:nth-last-child(1) {
  display: flex;
  align-items: center;
  color: var(--accent-color);
}
.top-experience-card-title span {
  font-size: var(--md-text-size);
}
@media screen and (max-width: 412px) {
  .top-experience-card-title span {
    font-size: var(--main-text-size);
  }
}
.top-experience-card-left {
  width: 170px;
  height: 67px;
  border-radius: 0 0 0 12px;
  background: var(--accent-color);
}
@media screen and (max-width: 412px) {
  .top-experience-card-left {
    width: 135px;
    height: 50px;
  }
}
.top-experience-card-stalk {
  width: 67px;
  height: 67px;
  background: var(--accent-color);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
@media screen and (max-width: 412px) {
  .top-experience-card-stalk {
    width: 50px;
    height: 50px;
  }
}
.top-experience-card-text {
  display: flex;
  align-items: center;
}

.top-guest-section {
  margin: 225px 0 0 0;
}
@media screen and (max-width: 412px) {
  .top-guest-section {
    margin: 84px 0 0 0;
  }
}
.top-guest-title-container {
  display: flex;
  width: 750px;
  align-items: center;
  margin: 0 auto;
}
.top-guest-section h3 {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  color: var(--accent-color);
  font-size: var(--md-text-size);
  font-family: var(--normal-font-style);
  font-weight: bold;
}
.top-guest-title-container span {
  display: inline-block;
  width: 200px;
  height: 7px;
  border-top: solid 1px var(--accent-color);
  border-bottom: solid 1px var(--accent-color);
}
.top-guest-title-container span:nth-of-type(1) {
  margin: 0 0 0 63px;
}
.top-guest-title-container span:nth-of-type(2) {
  margin: 0 63px 0 0;
}
@media screen and (max-width: 412px) {
  .top-guest-section h3 {
    width: 200px;
    padding: 20px 0;
    color: var(--accent-color);
    background: none;
    border-radius: 0;
    border-bottom: var(--accent-color) solid 1px;
  }
}
.top-guest-content {
  margin: 75px 0 0 0;
  height: 855px;
  background: var(--accent-light-color);
}
@media screen and (max-width: 412px) {
  .top-guest-content {
    margin: 30px 0 0 0;
    height: 1000px;
  }
}
.top-guest-images {
  position: absolute;
}
@media screen and (max-width: 412px) {
  .top-guest-images {
    display: flex;
    padding: 60px 0;
    width: 100vw;
    overflow: auto;
  }
}
.top-guest-images img {
  position: relative;
  border: solid 10px #fff;
  border-radius: 12px;
}
@media screen and (max-width: 412px) {
  .top-guest-images img {
    position: static;
    width: 250px;
    height: 100%;
    margin: 0 30.25px;
  }
  .top-guest-images img:nth-of-type(2) {
    display: none;
  }
}
.top-guest-image1 {
  top: 115px;
  left: 67px;
  width: 300px;
  height: 400px;
  z-index: 2;
}
.top-guest-image2 {
  top: 409px;
  right: 173px;
  width: 500px;
  height: 375px;
  z-index: 2;
}
.top-guest-image3 {
  top: 294px;
  right: 100px;
  width: 300px;
  height: 400px;
  z-index: 2;
}
.top-guest-image4 {
  bottom: 375px;
  left: 475px;
  width: 400px;
  height: 533px;
  z-index: 1;
}
.top-guest-shiboinu {
  position: relative;
  width: 520px;
  height: 410px;
  top: 48px;
  left: 920px;
}
@media screen and (max-width: 412px) {
  .top-guest-shiboinu {
    position: relative;
    width: 100vw;
    top: 475px;
    left: -125px;
  }
}
.top-guest-shiboinu-comment {
  position: relative;
  padding: 42px 0 0 24px;
  width: 371px;
  height: 266px;
  background: url(../images/top/top-experience-comment.svg) no-repeat top left;
}
@media screen and (max-width: 412px) {
  .top-guest-shiboinu-comment {
    top: 50px;
    left: 135px;
    padding: 0;
    background: url(../images/shiboinu-comment-sp.svg) no-repeat center center;
  }
}
.top-guest-shiboinu-comment p {
  color: var(--accent-color);
  font-family: var(--normal-font-style);
  font-size: var(--label-text-size);
  font-weight: bold;
}
@media screen and (max-width: 412px) {
  .top-guest-shiboinu-comment p {
    position: relative;
    width: 256px;
    top: 75px;
    left: 65px;
    font-size: var(--main-text-size);
  }
}
.top-guest-shiboinu-comment p:nth-of-type(2) {
  margin: 0 0 16px 0;
}
.top-guest-shiboinu-image {
  position: relative;
  width: 200px;
  height: 228px;
  left: 250px;
  bottom: 75px;
}
@media screen and (max-width: 412px) {
  .top-guest-shiboinu-image {
    width: 150px;
    height: 170px;
    bottom: 0;
  }
}
.top-guest-link {
  display: flex;
  position: relative;
  width: 350px;
  top: 335px;
  left: 1050px;
  text-align: center;
  padding: 10px 0 10px 0;
  color: #fff;
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  background: var(--accent-color);
  font-size: var(--md-text-size);
  font-family: var(--normal-font-style);
  font-weight: bold;
}
@media screen and (max-width: 412px) {
  .top-guest-link {
    position: static;
    width: 100vw;
    margin: 60px 0 0 0;
    border-radius: 0;
    font-size: var(--label-text-size);
  }
}
.top-guest-link img {
  rotate: 90deg;
}
@media screen and (max-width: 412px) {
  .top-guest-link img {
    width: 45px;
    height: 45px;
  }
}
.top-guest-description {
  display: none;
}
@media screen and (max-width: 412px) {
  .top-guest-description {
    position: relative;
    display: block;
    width: 100vw;
    height: 74px;
    top: 400px;
    padding: 15px 0 10px 0;
    background: var(--accent-color);
    color: #fff;
    font-family: var(--normal-font-style);
    font-weight: bold;
    text-align: center;
  }
  .top-guest-description p {
    margin: 0 0 10px 0;
  }
  .top-guest-description h6 {
    font-weight: bold;
  }
}

.top-info-section {
  margin: 150px 0 0 0;
}
@media screen and (max-width: 412px) {
  .top-info-section {
    margin: 75px 0 0 0;
  }
}
.top-info-title-container {
  display: flex;
  width: 750px;
  align-items: center;
  margin: 0 auto;
}
.top-info-section h3 {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  color: var(--accent-color);
  font-size: var(--md-text-size);
  font-family: var(--normal-font-style);
  font-weight: bold;
}
.top-info-title-container span {
  display: inline-block;
  width: 200px;
  height: 7px;
  border-top: solid 1px var(--accent-color);
  border-bottom: solid 1px var(--accent-color);
}
.top-info-title-container span:nth-of-type(1) {
  margin: 0 0 0 27px;
}
.top-info-title-container span:nth-of-type(2) {
  margin: 0 27px 0 0;
}
@media screen and (max-width: 412px) {
  .top-info-section h3 {
    width: 300px;
    padding: 20px 0;
    color: var(--accent-color);
    background: none;
    border-radius: 0;
  }
}
.top-info-content>ul {
  width: 950px;
  margin: 100px auto 0 auto;
}
@media screen and (max-width: 412px) {
  .top-info-content>ul {
    width: 300px;
    margin: 30px auto 0 auto;
  }
}
.top-info-item {
  display: flex;
  padding: 48px 0;
  border-top: solid 1px #000;
}
@media screen and (max-width: 412px) {
  .top-info-item {
    display: inline-block;
    width: 300px;
    padding: 30px 0;
    margin: 0 auto;
  }
}
.top-info-item:nth-last-child(1) {
  border-bottom: solid 1px #000;
}
.top-info-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 32px;
  margin: 0 100px 0 40px;
  border-radius: 20px;
  color: #fff;
  padding: 5px 15px;
  background: var(--accent-color);
  font-family: var(--normal-font-style);
}
@media screen and (max-width: 412px) {
  .top-info-item span {
    width: 89px;
    height: 25px;
    margin: 0 0 15px 0;
    font-size: 12px;
  }
}
.top-info-item p {
  display: flex;
  align-items: center;
}

.top-access-section {
  margin: 150px 0 90px 0;
}
@media screen and (max-width: 412px) {
  .top-access-section {
    margin: 100px 0 0 0;
  }
}
.google-map iframe {
  width: 100vw;
  height: 423px;
}
@media screen and (max-width: 412px) {
  .google-map iframe {
    width: 100vw;
    height: 400px;
  }
}
.top-access-content {
  display: flex;
  width: 916px;
  margin: 114px auto 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 412px)  {
  .top-access-content {
    flex-direction: column;
    width: 100vw;
    margin: 40px auto 0 auto;
  }
}
@media screen and (max-width: 412px) {
  .parking-area-map-image {
    width: 300px;
    height: 210px;
    margin: 0 auto 40px auto; 
  }
}
.top-access-text {
  margin: 0 0 0 95px;
}
@media screen and (max-width: 412px) {
  .top-access-text {
    padding: 30px 0;
    margin: 0;
    text-align: center;
    background: var(--accent-light-color);
  }
}
.top-access-text p {
  line-height: 35px;
  font-family: var(--normal-font-style);
}
@media screen and (max-width: 412px) {
  .top-access-text p {
    font-size: 14px;
    line-height: 20px;
  }
}
.top-access-text p:nth-of-type(3) {
  margin: 0 0 20px 0;
}

/* ========== ↓ About Page ↓ ========== */

.about-firstview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  color: #fff;
  background: url(../images/about/about-first-view.png) no-repeat center center;

  margin-bottom: 60px; 
  
}
.about-firstview h1 {
  position: absolute;
  font-size: var(--xl-text-size);
  font-weight: 500;
}
.about-firstview h1::after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  background: #fff;
  border-radius: 1px;
  height: 2px;
}

.top-section{
background-color: var(--accent-light-color);
}

.top-section_intro {
  max-width: 1200px; 
  padding: 50px 40px;
  margin: 0 auto;
  line-height: 36px;
  font-size: var(--md-text-size);
}


.narumi-section{
  padding: 90px 20px 0 0;
}

.narumi-section__title{
  text-align: center;
  font-size: var(--lg-text-size);
  padding-bottom:30px;
}

.narumi-section__intro{
  font-size:var(--md-text-size);
  text-align: center;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom:50px;
}


.narumi-section__subtitle {
  font-size: var(--md-text-size);
  color: var(--accent-color);
  margin-bottom: 16px;
  margin-top:15px;
}


.narumi-section__item {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-bottom: 80px;
  flex-wrap: wrap;
  max-width: 1100px; /* ← これで左右に余白できて見やすく！ */
  margin: 0 auto 80px; /* ← 中央寄せ */
}


.narumi-section__image {
  flex: 1.5; 
  min-width: 350px;
  max-width: 600px;
}

.narumi-section__image img {
  width: 100%;
  height: auto;
  object-fit: contain; 
}

.narumi-section__text {
  flex: 2;
  min-width: 300px;
  max-width: 600px;
  margin-top:12px;
  line-height: 25px;
}

.narumi-section__text {
  line-height: 30px;
}

.full-width-section{
  width: calc(100vw - 40px);
  margin-left: calc(-50vw + 50%);
  background-color: var(--accent-light-color); /* 必要に応じて */
}


.process-section {
  background-color: var(--accent-light-color)!important;
  padding: 80px 20px;
}

.process-section__title {
  text-align: center;
  font-size: var(--lg-text-size);
  padding-bottom:10px;
}

.process-section__intro{
  font-size:var(--md-text-size);
  text-align: center;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom:30px;
}

.step {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.step_box {
  background-color: var(--base-color);
  padding: 30px;
  max-width: 460px;
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.step_box img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  margin-bottom: 12px;
}

.step-label {
  font-family: var(--normal-font-style);
  background-color: var(--accent-color);
  color: #fff;
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 30px;
  font-weight: bold;
}

.step_title {
  color: var(--accent-color);
  font-size: var(--md-text-size);
  margin: 20px;
}

.step_box p {
  line-height: 1.8;
  font-size: 14px;
  margin:5px 20px;
}

.experience-section {
  display: flex;
  height: 100px;
  width: 100vw;
  background-color: var(--accent-light-color);
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
}

.experience-left {
  flex: 1;
  background-color: var(--base-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-right {
  flex: 1;
  background-color: var(--accent-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: var(--normal-font-style);
  font-weight: bold;
}

.arrow {
  margin-left: 10px;
}
.arrow img {
  rotate: 90deg;
  width: 50px;
  height: 50px;
}

.textile-section {
background-color: var(--accent-light-color);
padding: 60px 20px;

text-align: center;
}

.textile-section__title {
  text-align: center;
  font-size: var(--lg-text-size);
  padding-bottom: 10px;
}

.textile-section__intro{
  font-size:var(--md-text-size);
  text-align: center;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom:20px;
}

  .textile-box {
    background-color: var(--base-color);
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .textile_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 32px;
  }
  
  
  .textile_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* 最後のアイテムが一つだけの段で中央に寄せる */
  .textile_list:has(.textile_item:nth-child(7)) .textile_item:nth-child(7) {
    grid-column: 1 / -1;
    justify-self: center;
  }
  
  
  .textile_item p {
    margin-top: 12px;
    font-size: var(--sm-text-size);
    color: #000000;
  }

/* ========== ↓ Company Page ↓ ========== */

.page-title {
  position: relative;
  background: url(../images/company/company-first-view.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 500px;
  /* margin-bottom: 80px; */
}
.page-title h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  font-size: var(--xl-text-size);
  border-bottom: solid 1px #fff;
}

.profile,
.access {
  font-family: var(--emphasis-font-style);
}


.profile {
  width: 100%;
  max-width: 800px;
  margin: 150px auto;
  font-size: 18px;
}
.profile-table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.5;
}
.profile-table th,
.profile-table td {
  padding: 20px 20px;
  text-align: left;
  border-bottom: solid 1px #000;
}
.profile-table th {
  width: 150px;
}

.access {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin: 100px auto;
}
.access-title-container {
  display: flex;
  width: 750px;
  align-items: center;
  margin: 0 auto;
}
.access h3{
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  color: var(--accent-color);
  font-size: var(--md-text-size);
  font-family: var(--normal-font-style);
  font-weight: bold;
}
.access-title-container span {
  display: inline-block;
  width: 200px;
  height: 7px;
  border-top: solid 1px var(--accent-color);
  border-bottom: solid 1px var(--accent-color);
}
.access-title-container span:nth-of-type(1) {
  margin: 0 0 0 63px;
}
.access-title-container span:nth-of-type(2) {
  margin: 0 63px 0 0;
}
.access-adress {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.address-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ========== ↓ Experience Page ↓ ========== */

/* 見出し */
#midasi{
  background-color: #0b2c53; 
  color: #f5f5f5;
  border-radius: 100vh;
  width: 500px;       
  height: 60px;      
  margin: 65px auto 0 auto;     
  display: flex;
  align-items: center;  
  justify-content: center;  
}

.saku{
  display: block;
  background-color: #0b2c53; 
  color: #f5f5f5;
  border-radius: 100vh;
  width: 300px;       
  height: 60px;      
  margin: 91px auto;   
  cursor: pointer;  
}
/* 切り替えボタン */
.tab-buttons {
  height: 60px;      
  margin: 50px 0 65px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.tab-btn {
  flex: 1;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  background-color: #7da1c4;
  color: white;
  transition: 0.3s;
  border-radius: 100vh;
  margin: 0px 10px;
}
.tab-btn.active {
  background-color: #0b2c53;
  border-radius: 100vh;
}
.tab-contents {
  text-align: center;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
/* 雪花絞り */
/* 上の写真 */
.selected-h2 {
  text-align: center;
  margin: 75px 0;
  font-family: var(--normal-font-style);
}
.kasaneru {
  height: 500px;
}
.kasaneru h2{
  color: #f5f5f5;
  bottom: 10%;
  right: 5%;
  font-size: 36px;
}
.seka  {
  width: 100vw;          
  height: 500px;         
  position: absolute;
  left: 0;
  object-fit: cover;
  margin: 30px 0;
}
.yuka{
  height: 502px;
  width: 434.44px;
  margin: 28px auto;
  position: relative;
  z-index: 1;
}
/* 体験内容 */
.naiyou{
  font-family: var(--normal-font-style);
}
.syo{
  display: flex;
  width: 971px;
  margin: 0 auto;
  justify-content: space-between;
  text-align: left;
}
.syo ol{
  padding: 0;
}
.syo img{
  width: 300px;
  height: auto;
}
.syo p{
  line-height: 30px;
  color: var(--accent-color);
}
.syo li{
  list-style:none
}
.gar{
  display: flex;
  justify-content: center;
  padding-left:0
}
.gar li{
  list-style:none
}
.gar img{
  width: 210px;
  height: auto;
  margin: 0 10px;
}
#denim .gar img{
  width: 300px;
  margin: 10px 50px;
}
.gar p{
  font-weight: bold;
  font-family: var(--normal-font-style);
  text-align: center;
}
.inu{
  display: flex;
  flex: auto;
  justify-content: center;
  object-fit: cover;
}
.inu img{
  width: 450px;
  margin: 0 20px;
}
.nin {
  text-align: center;
  margin: 38px 0;
}
.nin ul{
  list-style:none
}
.nin li {
  font-family: var(--normal-font-style);
}
.background {
  background-color: #dbe9f3;
  min-height: 100%;
  padding: 50px 0;           
  width: 100vw;
  left: 0;
}

.content-box {
  background-color: white;  
  width: 80%;               
  max-width: 700px;         
  margin: 0 auto;           
  padding: 40px 110px; 
  border-radius: 8px;       
}
.content-box h2,
.content-box p {
  font-family: var(--normal-font-style);
}

.price-table{
  font-family: var(--normal-font-style);
  margin: 50px auto 25px auto;   
  border-collapse:  collapse;   
  table-layout: fixed;
  width: 100%;  
}
.price-table th,
.price-table td {
  height: 50px;
  border: solid 1px #000;
  text-align: center;
}
.ki{
  background-color: #0b2c53;
  color: white;
  border-color: #333;
}
.op{
  font-weight: normal;
  padding: 8px 40px;
  background-color: #799FBE;
  text-align: center;
  height: auto;
}
.ryo{
  background-color: #CCDDEB;
}
.money p{
  font-family: var(--normal-font-style);
  text-align: center;
  line-height: 30px;
}
.option{
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0; 
}
.option img{
  height: 210px;
  width: 210px;
  object-fit: cover;
  margin: 0 10px 15px 30px;
}
.option li{
  list-style:none;
}
.option p{
  text-align: center;
  margin-top: 0;
}
.but{
  display: flex;
  gap: 50px;
  width: 700px;
}
.but a{
  background-color: #0b2c53; 
  color: #f5f5f5;
  border-radius: 100vh;
  height: 60px;      
  margin: 10px 0;   
  cursor: pointer; 
  flex: 1; 
  text-decoration: none;
  display: flex;             
  align-items: center;         
  justify-content: center;
}
.but a:first-child {
  flex: 3;
}
.but a:last-child {
  flex: 7;
}
.hurusato{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.huru {
  margin: 100px 0 50px 0;
  font-family: var(--normal-font-style);
}
.huru p {
  text-align: center;
}
#yukata .to{
  text-align: left;
  width: 800px;
  padding: 50px 0 0 0;           
  width: 100vw;
  left: 0;
}
.to p{
  margin-bottom: 0;
}
.to ul{
  margin-top: 0;
}
.huru h2{
  text-align: center;
  margin: 0 0 5px 0;
}
.toujitu-box {
  width: 80%;               
  max-width: 500px;         
  margin: 0 auto;           
  padding: 70px; 
  border-radius: 8px;       
}
.toujitu-box h2{
  text-align: center;
}
.toujitu-box p {
  font-family: var(--normal-font-style);
  line-height: 30px;
}

.down{
  background-color: #0b2c53; 
  color: #f5f5f5;
  border-radius: 100vh;
  height: 60px;      
  margin: 10px 0;   
  cursor: pointer; 
  width: 400px;
}
.design-box{
  display: flex;
  width: 80%;               
  max-width: 900px;         
  margin: 0 auto;           
  padding: 70px;  
  justify-content: center;
}
.design-box li{
  list-style:none;
  text-align: left;
  padding-left: 50px;
}
.design-box li:nth-of-type(2) {
  margin: 60px 0 0 0;
}
.design-box img{
  width: 350px;
}
.background2{
  background-color: #dbe9f3;
  padding: 50px 0;           
  width: 100vw;
  left: 0;
  height: auto;
}

/* 団体 */
.about-dantai{
  margin: 175px 0 75px 0;
  font-family: var(--normal-font-style);
}
.dantai{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.dantai div:first-child img{
  width: 400px;
}
.dantai div:last-child img{
  height: 300px;
}
.dantai p{
  text-align: left;
}
.color {
  display: flex;
  flex: auto;
  gap: 30px;
  list-style:none;
  justify-content: center;
  background: var(--accent-light-color);
  padding: 90px 0;
}
.color img{
  width: 125px;
  height: 125px;
  border-radius: 70px;
}
.color p {
  color: var(--accent-color);
  margin: 10px 0 0 0;
  font-size: var(--label-text-size);
  text-align: center;
}
#denim .toujitu-box{
  padding-top: 0;  
}

.google-calender-text {
  font-family: var(--normal-font-style);
  text-align: center;
  line-height: 25px;
  margin: 35px 0 65px 0;
}
.video-option-text {
  margin: 0 0 80px 0;
}
.video-option-text p {
  text-align: center;
  font-family: var(--normal-font-style);
  line-height: 30px;
}
.about-group-top-text {
  margin: 0 0 0 50px;
}
.about-group-top-text p, 
.about-group-bottom-text p{
  font-family: var(--normal-font-style);
  margin: 0 0 20px 0;
}
.about-group-top {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}
.about-group-bottom {
  display: flex;
  width: 1000px;
  margin: 40px auto 0 auto;
  justify-content: space-between;
}
.about-group-bottom-text {
  width: 600px;
}
.sekka-shibori-firstview {
  position: relative;
  display: flex;
  margin: 65px 0 0 0;
  background: url(../images/experience/sekka-shibori-firstview-side.jpg) no-repeat center center;
}
.sekka-shibori-firstview img {
  margin: 0 auto;
  width: 434.44px;
  height: 541px;
}
.sekka-shibori-firstview h2 {
  position: absolute;
  bottom: 0;
  height: fit-content;
  margin: 0 0 25px 985px;
  color: #fff;
  font-weight: bold;
  font-family: var(--xl-text-size);
}
.denim-content-top-text {
  width: 600px;
}
.denim-content-top-text p {
  line-height: 30px;
}
.machining-title {
  margin: 50px 0 15px 0;
  font-size: 20px;
  text-align: center;
  font-family: var(--normal-font-style);
}

/* ========== ↓ Active Page ↓ ========== */

.active-results-firstview{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  color: #fff;
  background: url(../images/results/active-firstview.png) no-repeat center center;
background-size: cover; 

  
}
.active-results-firstviewh1 {
  position: absolute;
  font-size: var(--xl-text-size);
  font-weight: 500;
}


.active-results_top{
background-color: var(--base-color);
}

.active-results_intro {
  max-width: 1200px; 
  padding: 60px 40px;
  margin: 0 auto;
  line-height: 36px;
  font-size: var(--md-text-size);
  text-align: center;
}


.events-section{
padding-bottom:30px;
}

.results_card{
  background-color: var(--accent-light-color);
  padding:80px 20px;
  text-align: center;
  margin-bottom:80px;
}


.results-section__title{
  font-size:var(--lg-text-size);
  color:var(--accent-color);
  padding-bottom:20px;
  font-weight: bold;
}

.results-section__intro{
  font-size:var(--md-text-size);
  color:var(--accent-color);
}


.experience-block {
  display: flex;
  align-items: center; 
  gap: 40px;
  padding: 60px 40px;
  flex-wrap: wrap;
}


.experience-image {
  display: flex;
  align-items: center;
}


.experience-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-left: 40px;
}

.experience-text {
  flex: 2;
  min-width: 300px;
}

.experience-text h3 {
  font-size: var(--md-text-size);
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 5px;
  margin-bottom: 20px;
  display: inline-block; /* ★追加！文字の幅だけ下線になる！ */
}

s
.experience-text p {
  font-size: var(--main-text-size);
  line-height: 1.8;
  color: #333;
}


.event-group {
  padding:30px 40px;
}


.event-group h3 {
  font-size: var(--md-text-size);
  text-align: center;
  margin-bottom: 40px;
  color: var(--accent-color);
}



.event-group h3::after {
  content: "";
  display: block;
  margin: 6px auto 0;
  width: 25%;
  height: 2px;
  background-color: var(--accent-color);
}


.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
}

.event-item img {
  width: 100%;
  max-width: 300px; 
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}


.event-item p {
  margin-top: 15px;
  font-size: var(--main-text-size);
  line-height: 1.5;
  text-align: center;
}

.event-item.single {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.event-item.single img {
  width: 40%;
  max-width: 400px;
  object-fit: cover;
}

.event-item.single p {
  width: 60%;
  font-size: var(--main-text-size);
  line-height: 1.7;
  text-align: left;
}

.results-goods,.results-stores {
  padding: 0 60px; 
  margin-bottom: 80px;
}

.results-goods__title,.results-stores__title {
  font-size: var(--md-text-size);
  color: var(--accent-color);
  margin-bottom: 6px;
  margin-left: 10px;
}

.results-goods__line,.results-stores__line{
  height: 2px;
  background-color: #333333;
  width: 100%;       /* ← 線は全体の幅に広げる */
  max-width: 100%;   /* ← 無制限に広がらないように */
  margin-bottom: 30px;
}


.product-grid, .store-item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 40px;
}

.product-item, .store-item {
  text-align: center;
}

.product-item img, .store-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.product-item p {
  margin-top: 10px;
  font-size: var(--main-text-size);
}

.store-description {
  padding: 0 100px;
  font-size: var(--main-text-size);
  line-height: 1.6;
  margin-bottom: 20px;
}


.products-container {
  padding: 0 50px;
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
  align-items: flex-start;
}


.product-images {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: nowrap; 
  justify-content: center;
  max-width: 600px;
}


.product-images img {
  width: 48%; 
  height: auto;
  object-fit: cover;
}

.product-description {
  flex: 1;
}

.product-description h3 {
  font-size: var(--md-text-size);
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--accent-color);
}

.product-description ul {
  padding-left: 20px;
  line-height: 1.6;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px 16px; 
  padding: 0 20px;
  margin-bottom: 40px;
}



.product-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.product-item h4 {
  margin-top: 10px;
  font-size: var(--md-text-size);
  text-align: center;
  color:var(--accent-color);
  padding-bottom:20px;
  
}

.product-item p {
  font-size: var(--main-text-size);
  text-align: center;
  line-height: 1.5;
}

.oem-section {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oem-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  max-width: 1000px; 
  width: 100%;
  margin-bottom: 40px;
  margin-left:90px;
}

.oem-label {
  flex-shrink: 0;
  width: 250px;
}

.oem-label img {
  width: 100%;
  height: auto;
  display: block;
}

.oem-description {
  flex: 1;
  max-width: 600px;
}

.oem-description h3 {
  font-size: var(--md-text-size);
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 20px;
}

.oem-description p {
  font-size: var(--main-text-size);
  line-height: 1.8;
}

.oem-models {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
}

.oem-models img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

/* ========== ↓ Guest Page ↓ ========== */

.about-firstview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  color: #fff;
  background: url(../img/guest/first-view.png) no-repeat center center;

  margin-bottom: 60px; 
  
}
.about-firstview h1 {
  position: absolute;
  font-size: var(--xl-text-size);
  font-weight: 500;
}
.about-firstview h1::after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  background: #fff;
  border-radius: 1px;
  height: 2px;
}

.customer-section,.photo-section{
  padding:20px 60px;
}

.section__title{
  text-align: center;
  color:var(--accent-color);
  font-size:var(--md-text-size);
  padding-bottom:80px;
  padding-top:50px;
}

.voice-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  gap: 20px; 
  width: 100%;
}

.voice-item {
  background-color: var(--accent-light-color);
  border-radius: 20px;
  display: flex;
  align-items: center; 
  padding: 20px;
  width: 80%;
  max-width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 150px; 
}


.voice-item .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 30px;
}

.voice-item .icon img {
  width: 100%;
  height: 100%;
}

.voice-item .voice-text {
  flex: 1;
  text-align: left; 
}

.voice-item .voice-text p {
  font-size: var(--main-text-size);
  line-height: 1.5;
  margin: 0;
}

.photo-box {
  background-color: var(--accent-light-color);
  padding: 60px 90px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 800px;
  margin: 0 auto; 
}

.experience-section {
  padding: 20px 60px;
  background-color: var(--base-color); 
}

.photo-section {
  padding: 40px 80px;
}

.section__title {
  text-align: center;
  color: var(--accent-color);
  font-size: var(--md-text-size);
  padding-bottom: 40px;
  padding-top: 60px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px;
  margin-bottom: 40px;
  width: 100%; 
}

.image-item {
  display: block; 
  width: 100%;
}

.image-item img {
  width: 100%; 
  height: auto; 
  object-fit: cover;
}


.sns-section {
  text-align: center;
  margin-top: 40px;
}

.comment{
  background-color: var(--base-color);
  border-radius: 10px;
  padding:20px;
}

.sns-section p {
  font-size: var(--main-text-size);
  line-height: 1.6;
}

.dog img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-bottom:30px;
}


.button{
  background-color: var(--accent-color); 
  color: #f5f5f5;
  border-radius: 100vh;
  width: 300px;       
  height: 60px;      
  margin: 20px auto;     
  display: flex;
  align-items: center;  
  justify-content: center;  
}


.movie_box {
  padding: 20px 40px;
  margin-bottom: 40px; 
}


.movie_item {
  margin-bottom: 50px; 
  text-align: center;
}

.movie_item iframe {
  width: 100%; 
  height: 315px;
  border: none; 
  border-radius: 8px; 
}

.movie_box p {
  text-align: center; 
  font-size: var(--main-text-size); 
  color: #333;
  line-height: 1.6; 
  margin-top: 20px; 
}